Principal/web/WEB-INF/wsdl/192.168.0.1_8085/WebServiceExterno/Datos.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://datos.webserviceexterno.edd/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://datos.webserviceexterno.edd/" name="Datos">
<types>
<xsd:schema>
<xsd:import namespace="http://datos.webserviceexterno.edd/" schemaLocation="http://192.168.0.1:8085/WebServiceExterno/Datos?xsd=1" />
</xsd:schema>
</types>
<message name="CrearRuta">
<part name="parameters" element="tns:CrearRuta" />
</message>
<message name="CrearRutaResponse">
<part name="parameters" element="tns:CrearRutaResponse" />
</message>
<message name="CrearEstacionGeneral">
<part name="parameters" element="tns:CrearEstacionGeneral" />
</message>
<message name="CrearEstacionGeneralResponse">
<part name="parameters" element="tns:CrearEstacionGeneralResponse" />
</message>
<message name="CrearBus">
<part name="parameters" element="tns:CrearBus" />
</message>
<message name="CrearBusResponse">
<part name="parameters" element="tns:CrearBusResponse" />
</message>
<message name="CrearChofer">
<part name="parameters" element="tns:CrearChofer" />
</message>
<message name="CrearChoferResponse">
<part name="parameters" element="tns:CrearChoferResponse" />
</message>
<message name="verificarAdministrador">
<part name="parameters" element="tns:verificarAdministrador" />
</message>
<message name="verificarAdministradorResponse">
<part name="parameters" element="tns:verificarAdministradorResponse" />
</message>
<message name="verificarChofer">
<part name="parameters" element="tns:verificarChofer" />
</message>
<message name="verificarChoferResponse">
<part name="parameters" element="tns:verificarChoferResponse" />
</message>
<message name="CrearAdministrador">
<part name="parameters" element="tns:CrearAdministrador" />
</message>
<message name="CrearAdministradorResponse">
<part name="parameters" element="tns:CrearAdministradorResponse" />
</message>
<message name="reporteChofer">
<part name="parameters" element="tns:reporteChofer" />
</message>
<message name="reporteChoferResponse">
<part name="parameters" element="tns:reporteChoferResponse" />
</message>
<message name="CrearEstacionClave">
<part name="parameters" element="tns:CrearEstacionClave" />
</message>
<message name="CrearEstacionClaveResponse">
<part name="parameters" element="tns:CrearEstacionClaveResponse" />
</message>
<message name="verificarEstacionClave">
<part name="parameters" element="tns:verificarEstacionClave" />
</message>
<message name="verificarEstacionClaveResponse">
<part name="parameters" element="tns:verificarEstacionClaveResponse" />
</message>
<message name="verificarEstacionGeneral">
<part name="parameters" element="tns:verificarEstacionGeneral" />
</message>
<message name="verificarEstacionGeneralResponse">
<part name="parameters" element="tns:verificarEstacionGeneralResponse" />
</message>
<message name="reporteAdministrador">
<part name="parameters" element="tns:reporteAdministrador" />
</message>
<message name="reporteAdministradorResponse">
<part name="parameters" element="tns:reporteAdministradorResponse" />
</message>
<message name="reporteEstacionClave">
<part name="parameters" element="tns:reporteEstacionClave" />
</message>
<message name="reporteEstacionClaveResponse">
<part name="parameters" element="tns:reporteEstacionClaveResponse" />
</message>
<message name="reporteEstacionGeneral">
<part name="parameters" element="tns:reporteEstacionGeneral" />
</message>
<message name="reporteEstacionGeneralResponse">
<part name="parameters" element="tns:reporteEstacionGeneralResponse" />
</message>
<message name="reporteRuta">
<part name="parameters" element="tns:reporteRuta" />
</message>
<message name="reporteRutaResponse">
<part name="parameters" element="tns:reporteRutaResponse" />
</message>
<message name="reporteBus">
<part name="parameters" element="tns:reporteBus" />
</message>
<message name="reporteBusResponse">
<part name="parameters" element="tns:reporteBusResponse" />
</message>
<message name="imageToByteArray">
<part name="parameters" element="tns:imageToByteArray" />
</message>
<message name="imageToByteArrayResponse">
<part name="parameters" element="tns:imageToByteArrayResponse" />
</message>
<message name="verificacion">
<part name="parameters" element="tns:verificacion" />
</message>
<message name="verificacionResponse">
<part name="parameters" element="tns:verificacionResponse" />
</message>
<message name="verifyBus">
<part name="parameters" element="tns:verifyBus" />
</message>
<message name="verifyBusResponse">
<part name="parameters" element="tns:verifyBusResponse" />
</message>
<message name="verifyRuta">
<part name="parameters" element="tns:verifyRuta" />
</message>
<message name="verifyRutaResponse">
<part name="parameters" element="tns:verifyRutaResponse" />
</message>
<portType name="Datos">
<operation name="CrearRuta">
<input wsam:Action="http://datos.webserviceexterno.edd/Datos/CrearRutaRequest" message="tns:CrearRuta" />
<output wsam:Action="http://datos.webserviceexterno.edd/Datos/CrearRutaResponse" message="tns:CrearRutaResponse" />
</operation>
<operation name="CrearEstacionGeneral">
<input wsam:Action="http://datos.webserviceexterno.edd/Datos/CrearEstacionGeneralRequest" message="tns:CrearEstacionGeneral" />
<output wsam:Action="http://datos.webserviceexterno.edd/Datos/CrearEstacionGeneralResponse" message="tns:CrearEstacionGeneralResponse" />
</operation>
<operation name="CrearBus">
<input wsam:Action="http://datos.webserviceexterno.edd/Datos/CrearBusRequest" message="tns:CrearBus" />
<output wsam:Action="http://datos.webserviceexterno.edd/Datos/CrearBusResponse" message="tns:CrearBusResponse" />
</operation>
<operation name="CrearChofer">
<input wsam:Action="http://datos.webserviceexterno.edd/Datos/CrearChoferRequest" message="tns:CrearChofer" />
<output wsam:Action="http://datos.webserviceexterno.edd/Datos/CrearChoferResponse" message="tns:CrearChoferResponse" />
</operation>
<operation name="verificarAdministrador">
<input wsam:Action="http://datos.webserviceexterno.edd/Datos/verificarAdministradorRequest" message="tns:verificarAdministrador" />
<output wsam:Action="http://datos.webserviceexterno.edd/Datos/verificarAdministradorResponse" message="tns:verificarAdministradorResponse" />
</operation>
<operation name="verificarChofer">
<input wsam:Action="http://datos.webserviceexterno.edd/Datos/verificarChoferRequest" message="tns:verificarChofer" />
<output wsam:Action="http://datos.webserviceexterno.edd/Datos/verificarChoferResponse" message="tns:verificarChoferResponse" />
</operation>
<operation name="CrearAdministrador">
<input wsam:Action="http://datos.webserviceexterno.edd/Datos/CrearAdministradorRequest" message="tns:CrearAdministrador" />
<output wsam:Action="http://datos.webserviceexterno.edd/Datos/CrearAdministradorResponse" message="tns:CrearAdministradorResponse" />
</operation>
<operation name="reporteChofer">
<input wsam:Action="http://datos.webserviceexterno.edd/Datos/reporteChoferRequest" message="tns:reporteChofer" />
<output wsam:Action="http://datos.webserviceexterno.edd/Datos/reporteChoferResponse" message="tns:reporteChoferResponse" />
</operation>
<operation name="CrearEstacionClave">
<input wsam:Action="http://datos.webserviceexterno.edd/Datos/CrearEstacionClaveRequest" message="tns:CrearEstacionClave" />
<output wsam:Action="http://datos.webserviceexterno.edd/Datos/CrearEstacionClaveResponse" message="tns:CrearEstacionClaveResponse" />
</operation>
<operation name="verificarEstacionClave">
<input wsam:Action="http://datos.webserviceexterno.edd/Datos/verificarEstacionClaveRequest" message="tns:verificarEstacionClave" />
<output wsam:Action="http://datos.webserviceexterno.edd/Datos/verificarEstacionClaveResponse" message="tns:verificarEstacionClaveResponse" />
</operation>
<operation name="verificarEstacionGeneral">
<input wsam:Action="http://datos.webserviceexterno.edd/Datos/verificarEstacionGeneralRequest" message="tns:verificarEstacionGeneral" />
<output wsam:Action="http://datos.webserviceexterno.edd/Datos/verificarEstacionGeneralResponse" message="tns:verificarEstacionGeneralResponse" />
</operation>
<operation name="reporteAdministrador">
<input wsam:Action="http://datos.webserviceexterno.edd/Datos/reporteAdministradorRequest" message="tns:reporteAdministrador" />
<output wsam:Action="http://datos.webserviceexterno.edd/Datos/reporteAdministradorResponse" message="tns:reporteAdministradorResponse" />
</operation>
<operation name="reporteEstacionClave">
<input wsam:Action="http://datos.webserviceexterno.edd/Datos/reporteEstacionClaveRequest" message="tns:reporteEstacionClave" />
<output wsam:Action="http://datos.webserviceexterno.edd/Datos/reporteEstacionClaveResponse" message="tns:reporteEstacionClaveResponse" />
</operation>
<operation name="reporteEstacionGeneral">
<input wsam:Action="http://datos.webserviceexterno.edd/Datos/reporteEstacionGeneralRequest" message="tns:reporteEstacionGeneral" />
<output wsam:Action="http://datos.webserviceexterno.edd/Datos/reporteEstacionGeneralResponse" message="tns:reporteEstacionGeneralResponse" />
</operation>
<operation name="reporteRuta">
<input wsam:Action="http://datos.webserviceexterno.edd/Datos/reporteRutaRequest" message="tns:reporteRuta" />
<output wsam:Action="http://datos.webserviceexterno.edd/Datos/reporteRutaResponse" message="tns:reporteRutaResponse" />
</operation>
<operation name="reporteBus">
<input wsam:Action="http://datos.webserviceexterno.edd/Datos/reporteBusRequest" message="tns:reporteBus" />
<output wsam:Action="http://datos.webserviceexterno.edd/Datos/reporteBusResponse" message="tns:reporteBusResponse" />
</operation>
<operation name="imageToByteArray">
<input wsam:Action="http://datos.webserviceexterno.edd/Datos/imageToByteArrayRequest" message="tns:imageToByteArray" />
<output wsam:Action="http://datos.webserviceexterno.edd/Datos/imageToByteArrayResponse" message="tns:imageToByteArrayResponse" />
</operation>
<operation name="verificacion">
<input wsam:Action="http://datos.webserviceexterno.edd/Datos/verificacionRequest" message="tns:verificacion" />
<output wsam:Action="http://datos.webserviceexterno.edd/Datos/verificacionResponse" message="tns:verificacionResponse" />
</operation>
<operation name="verifyBus">
<input wsam:Action="http://datos.webserviceexterno.edd/Datos/verifyBusRequest" message="tns:verifyBus" />
<output wsam:Action="http://datos.webserviceexterno.edd/Datos/verifyBusResponse" message="tns:verifyBusResponse" />
</operation>
<operation name="verifyRuta">
<input wsam:Action="http://datos.webserviceexterno.edd/Datos/verifyRutaRequest" message="tns:verifyRuta" />
<output wsam:Action="http://datos.webserviceexterno.edd/Datos/verifyRutaResponse" message="tns:verifyRutaResponse" />
</operation>
</portType>
<binding name="DatosPortBinding" type="tns:Datos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="CrearRuta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="CrearEstacionGeneral">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="CrearBus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="CrearChofer">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="verificarAdministrador">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="verificarChofer">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="CrearAdministrador">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="reporteChofer">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="CrearEstacionClave">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="verificarEstacionClave">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="verificarEstacionGeneral">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="reporteAdministrador">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="reporteEstacionClave">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="reporteEstacionGeneral">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="reporteRuta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="reporteBus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="imageToByteArray">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="verificacion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="verifyBus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="verifyRuta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Datos">
<port name="DatosPort" binding="tns:DatosPortBinding">
<soap:address location="http://192.168.0.1:8085/WebServiceExterno/Datos" />
</port>
</service>
</definitions>