Principal/src/conf/xml-resources/web-service-references/Datos/wsdl/192.168.0.1_8085/WebServiceExterno/Datos.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://datos.webserviceexterno.edd/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://datos.webserviceexterno.edd/">

<xs:element name="CrearAdministrador" type="tns:CrearAdministrador" />

<xs:element name="CrearAdministradorResponse" type="tns:CrearAdministradorResponse" />

<xs:element name="CrearBus" type="tns:CrearBus" />

<xs:element name="CrearBusResponse" type="tns:CrearBusResponse" />

<xs:element name="CrearChofer" type="tns:CrearChofer" />

<xs:element name="CrearChoferResponse" type="tns:CrearChoferResponse" />

<xs:element name="CrearEstacionClave" type="tns:CrearEstacionClave" />

<xs:element name="CrearEstacionClaveResponse" type="tns:CrearEstacionClaveResponse" />

<xs:element name="CrearEstacionGeneral" type="tns:CrearEstacionGeneral" />

<xs:element name="CrearEstacionGeneralResponse" type="tns:CrearEstacionGeneralResponse" />

<xs:element name="CrearRuta" type="tns:CrearRuta" />

<xs:element name="CrearRutaResponse" type="tns:CrearRutaResponse" />

<xs:element name="byteArrayToFile" type="tns:byteArrayToFile" />

<xs:element name="byteArrayToFileResponse" type="tns:byteArrayToFileResponse" />

<xs:element name="imageToByteArray" type="tns:imageToByteArray" />

<xs:element name="imageToByteArrayResponse" type="tns:imageToByteArrayResponse" />

<xs:element name="reporteAdministrador" type="tns:reporteAdministrador" />

<xs:element name="reporteAdministradorResponse" type="tns:reporteAdministradorResponse" />

<xs:element name="reporteBus" type="tns:reporteBus" />

<xs:element name="reporteBusResponse" type="tns:reporteBusResponse" />

<xs:element name="reporteChofer" type="tns:reporteChofer" />

<xs:element name="reporteChoferResponse" type="tns:reporteChoferResponse" />

<xs:element name="reporteEstacionClave" type="tns:reporteEstacionClave" />

<xs:element name="reporteEstacionClaveResponse" type="tns:reporteEstacionClaveResponse" />

<xs:element name="reporteEstacionGeneral" type="tns:reporteEstacionGeneral" />

<xs:element name="reporteEstacionGeneralResponse" type="tns:reporteEstacionGeneralResponse" />

<xs:element name="reporteRuta" type="tns:reporteRuta" />

<xs:element name="reporteRutaResponse" type="tns:reporteRutaResponse" />

<xs:element name="verificacion" type="tns:verificacion" />

<xs:element name="verificacionResponse" type="tns:verificacionResponse" />

<xs:element name="verificarAdministrador" type="tns:verificarAdministrador" />

<xs:element name="verificarAdministradorResponse" type="tns:verificarAdministradorResponse" />

<xs:element name="verificarChofer" type="tns:verificarChofer" />

<xs:element name="verificarChoferResponse" type="tns:verificarChoferResponse" />

<xs:element name="verificarEstacionClave" type="tns:verificarEstacionClave" />

<xs:element name="verificarEstacionClaveResponse" type="tns:verificarEstacionClaveResponse" />

<xs:element name="verificarEstacionGeneral" type="tns:verificarEstacionGeneral" />

<xs:element name="verificarEstacionGeneralResponse" type="tns:verificarEstacionGeneralResponse" />

<xs:element name="verifyBus" type="tns:verifyBus" />

<xs:element name="verifyBusResponse" type="tns:verifyBusResponse" />

<xs:element name="verifyRuta" type="tns:verifyRuta" />

<xs:element name="verifyRutaResponse" type="tns:verifyRutaResponse" />

<xs:complexType name="CrearEstacionClave">
<xs:sequence>
<xs:element name="id_estacion_clave" type="xs:int" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearEstacionClaveResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="reporteChofer">
<xs:sequence />
</xs:complexType>

<xs:complexType name="reporteChoferResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="reporteRuta">
<xs:sequence />
</xs:complexType>

<xs:complexType name="reporteRutaResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="verificacion">
<xs:sequence>
<xs:element name="tipo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearAdministrador">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearAdministradorResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearEstacionGeneral">
<xs:sequence>
<xs:element name="id_estacion_general" type="xs:int" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearEstacionGeneralResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarChofer">
<xs:sequence>
<xs:element name="key" type="xs:int" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarChoferResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarAdministrador">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarAdministradorResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="imageToByteArray">
<xs:sequence>
<xs:element name="tipo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="imageToByteArrayResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearChofer">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="apellido" type="xs:string" minOccurs="0" />
<xs:element name="clave" type="xs:int" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearChoferResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="reporteEstacionGeneral">
<xs:sequence />
</xs:complexType>

<xs:complexType name="reporteEstacionGeneralResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="verifyRuta">
<xs:sequence>
<xs:element name="identificador" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="verifyRutaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearBus">
<xs:sequence>
<xs:element name="id_bus" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearBusResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="reporteEstacionClave">
<xs:sequence />
</xs:complexType>

<xs:complexType name="reporteEstacionClaveResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="verificarEstacionClave">
<xs:sequence>
<xs:element name="key" type="xs:int" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarEstacionClaveResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearRuta">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="estaciones" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="CrearRutaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarEstacionGeneral">
<xs:sequence>
<xs:element name="key" type="xs:int" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="verificarEstacionGeneralResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="verifyBus">
<xs:sequence>
<xs:element name="identificador" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="verifyBusResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="reporteBus">
<xs:sequence />
</xs:complexType>

<xs:complexType name="reporteBusResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="reporteAdministrador">
<xs:sequence />
</xs:complexType>

<xs:complexType name="reporteAdministradorResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="byteArrayToFile">
<xs:sequence>
<xs:element name="archivo" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="byteArrayToFileResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>