Principal/src/conf/xml-resources/web-service-references/Datos/wsdl/localhost_8085/WebServiceExterno/Datos.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://datos.webserviceexterno.edd/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://datos.webserviceexterno.edd/" name="Datos">
<types>
<xsd:schema>
<xsd:import namespace="http://datos.webserviceexterno.edd/" schemaLocation="http://localhost:8085/WebServiceExterno/Datos?xsd=1" />
</xsd:schema>
</types>
<message name="CrearAdministrador">
<part name="parameters" element="tns:CrearAdministrador" />
</message>
<message name="CrearAdministradorResponse">
<part name="parameters" element="tns:CrearAdministradorResponse" />
</message>
<message name="CrearEstacionGeneral">
<part name="parameters" element="tns:CrearEstacionGeneral" />
</message>
<message name="CrearEstacionGeneralResponse">
<part name="parameters" element="tns:CrearEstacionGeneralResponse" />
</message>
<message name="CrearEstacionClave">
<part name="parameters" element="tns:CrearEstacionClave" />
</message>
<message name="CrearEstacionClaveResponse">
<part name="parameters" element="tns:CrearEstacionClaveResponse" />
</message>
<message name="CrearChofer">
<part name="parameters" element="tns:CrearChofer" />
</message>
<message name="CrearChoferResponse">
<part name="parameters" element="tns:CrearChoferResponse" />
</message>
<message name="CrearBus">
<part name="parameters" element="tns:CrearBus" />
</message>
<message name="CrearBusResponse">
<part name="parameters" element="tns:CrearBusResponse" />
</message>
<message name="CrearRuta">
<part name="parameters" element="tns:CrearRuta" />
</message>
<message name="CrearRutaResponse">
<part name="parameters" element="tns:CrearRutaResponse" />
</message>
<portType name="Datos">
<operation name="CrearAdministrador">
<input wsam:Action="http://datos.webserviceexterno.edd/Datos/CrearAdministradorRequest" message="tns:CrearAdministrador" />
<output wsam:Action="http://datos.webserviceexterno.edd/Datos/CrearAdministradorResponse" message="tns:CrearAdministradorResponse" />
</operation>
<operation name="CrearEstacionGeneral">
<input wsam:Action="http://datos.webserviceexterno.edd/Datos/CrearEstacionGeneralRequest" message="tns:CrearEstacionGeneral" />
<output wsam:Action="http://datos.webserviceexterno.edd/Datos/CrearEstacionGeneralResponse" message="tns:CrearEstacionGeneralResponse" />
</operation>
<operation name="CrearEstacionClave">
<input wsam:Action="http://datos.webserviceexterno.edd/Datos/CrearEstacionClaveRequest" message="tns:CrearEstacionClave" />
<output wsam:Action="http://datos.webserviceexterno.edd/Datos/CrearEstacionClaveResponse" message="tns:CrearEstacionClaveResponse" />
</operation>
<operation name="CrearChofer">
<input wsam:Action="http://datos.webserviceexterno.edd/Datos/CrearChoferRequest" message="tns:CrearChofer" />
<output wsam:Action="http://datos.webserviceexterno.edd/Datos/CrearChoferResponse" message="tns:CrearChoferResponse" />
</operation>
<operation name="CrearBus">
<input wsam:Action="http://datos.webserviceexterno.edd/Datos/CrearBusRequest" message="tns:CrearBus" />
<output wsam:Action="http://datos.webserviceexterno.edd/Datos/CrearBusResponse" message="tns:CrearBusResponse" />
</operation>
<operation name="CrearRuta">
<input wsam:Action="http://datos.webserviceexterno.edd/Datos/CrearRutaRequest" message="tns:CrearRuta" />
<output wsam:Action="http://datos.webserviceexterno.edd/Datos/CrearRutaResponse" message="tns:CrearRutaResponse" />
</operation>
</portType>
<binding name="DatosPortBinding" type="tns:Datos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="CrearAdministrador">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="CrearEstacionGeneral">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="CrearEstacionClave">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="CrearChofer">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="CrearBus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="CrearRuta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Datos">
<port name="DatosPort" binding="tns:DatosPortBinding">
<soap:address location="http://localhost:8085/WebServiceExterno/Datos" />
</port>
</service>
</definitions>